<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geetika_luthra.mydiary">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/diary"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Add_diary_entry" />
        <activity android:name=".Show_Diary_Entry" />
        <activity android:name=".Settings" />
        <activity android:name=".About" />
        <activity android:name=".Report_a_bug" />
        <activity android:name=".Lock_Diary" />
        <activity android:name=".Edit_Diary_Entry" />
        <activity android:name=".VerifyLock" />
        <activity android:name=".ChangeLock" />
        <activity android:name=".ForgotCode"></activity>
    </application>

</manifest>